@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alumni+Sans+Inline+One&family=Alumni+Sans:wght@100&family=Amatic+SC:wght@700&family=Bebas+Neue&family=Cormorant+Garamond&family=Cormorant+SC:wght@300;400&family=Dancing+Script&family=Forum&family=Great+Vibes&family=Italianno&family=Kaushan+Script&family=Montserrat:wght@300&family=Playball&family=Poppins:wght@300;400&family=Ramaraja&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&family=Tangerine:wght@400;700&family=The+Nautigal:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.logo {
  font-size: 2rem;
}
.navbar .max-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.max-width {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}
.navbar .menu {
  display: flex;
}
.navbar .menu li {
  padding: 0 1.5em;
}
.navbar .menu a {
  position: relative;
  text-transform: uppercase;
}
.navbar {
  position: fixed;
  font-family: 'Poppins', cursive;
  width: 100%;
  margin: 1em auto;
  transition: 0.5s;
}
nav.sticky {
  margin: 0 auto;
  background: #181d21;
  z-index: 9999;
}
.navbar a {
  color: white;
}
span {
  color: yellow;
}
.navbar .menu li a::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 0;
  background: yellow;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20%;
  transition: 0.5s;
}
.navbar .menu li a:hover::after {
  width: 100%;
}
input {
  display: none;
}
.checkbtn {
  font-size: 2rem;
  color: yellow;
  cursor: pointer;
  display: none;
}
.home {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-content {
  color: white;
  line-height: 4em;
}
.home-text1 {
  letter-spacing: 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}
.home-qoute {
  font-family: 'Poppins', cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
  color: yellow;
}
.about {
  display: flex;
  width: 100%;
  background: #181d21;
}
.about-content {
  font-family: 'Poppins';
  color: white;
  margin: 2em auto;
}
.aboutme-title,
.aboutme-subtitle {
  text-align: center;
  line-height: 3rem;
}
.aboutme-subtitle {
  font-size: 1.2rem;
}
.aboutme-title {
  font-size: 3rem;
}
.aboutme-columns {
  display: flex;
  margin: 2em auto;
  gap: 3em;
}
.col1 {
  width: 50%;
}
.top-content {
  margin-bottom: 2em;
  line-height: 2em;
}
.text1 {
  font-size: 2rem;
}
.subtext {
  font-size: 1.5rem;
}
.col1 .mystory {
  text-align: center;
  font-size: 3rem;
}

#HTML {
  color: #f25825;
}
#CSS {
  color: #0b69b6;
}
#js {
  color: #d3af2f;
}
#Csharp {
  color: #903ba7;
}
#Unity {
  color: white;
}
#bootstrap {
  color: #7611ed;
}
#C {
  color: #3645a1;
}
.col2 {
  width: 50%;
  height: 400px;
  border: 2px solid white;
  background: url(/images/profile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
.aboutme-text p:first-of-type {
  margin-bottom: 1em;
}
.col3 {
  width: 50%;
}
.col3 h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.info {
  line-height: 4em;
}
.social-icons ul {
  display: flex;
  gap: 3em;
}
.social-icons ul a {
  color: #ffffff;
  width: 30px;
  height: 30px;
  font-size: 1.3rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.skills {
  display: flex;
  width: 100%;
  background: #181d21;
}
.skills-content {
  font-family: 'Poppins';
}
.skills-title {
  text-align: center;
  color: white;
  font-size: 3rem;
}
/* ctto to Alvaro for this Circular Progress Bar*/
.wrap-circles {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  gap: 2em;
  margin: 3em auto;
}
.circle {
  cursor: pointer;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 0.3em;
  border-radius: 50%;
  background: #ffffff;
  overflow: hidden;
}
.circle.per-90 {
  background-image: conic-gradient(#f25825 90%, #ffffff 0);
}
.circle.per-80 {
  background-image: conic-gradient(#0b69b6 80%, #ffffff 0);
}
.circle.per-10 {
  background-image: conic-gradient(#d3af2f 10%, #ffffff 0);
}
.circle.per-75 {
  background-image: conic-gradient(#7611ed 75%, #ffffff 0);
}
.circle.per-85 {
  background-image: conic-gradient(#3645a1 80%, #ffffff 0);
}
.circle.per-50 {
  background-image: conic-gradient(#3645a1 50%, #ffffff 0);
}
.circle.per-5 {
  background-image: conic-gradient(#181d21 5%, #ffffff 0);
}
.circle.per-3 {
  background-image: conic-gradient(#903ba7 3%, #ffffff 0);
}

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 300;
  color: white;
}
/* ctto to Alvaro for this Circular Progress Bar*/
/* PROJECT SECTION */
.project {
  background: #181d21;
}
.project-content {
  width: 100%;
  color: white;
  font-family: 'Poppins';
}
.project-headtitle {
  text-align: center;
  font-size: 2rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  text-align: center;
  gap: 1em;
  margin: 2em auto;
}
.projects img {
  width: 400px;
  aspect-ratio: 2;
  transition: 0.5s;
}
.pic {
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 3px 5px white;
  cursor: pointer;
  transition: 0.5s;
}
.fblogin::before,
.fbsignup::before,
.iglogin::before,
.igsignup::before,
.psd::before,
.tic-tac-toe::before,
.guess-game::before {
  content: 'Finished';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: yellow;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
  z-index: 1;
}
.game3d::before,
.photography-website::before {
  content: 'unfinished';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: yellow;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
  z-index: 1;
}
.pic::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(24, 29, 33, 0.3);
  transition: 0.3s;
}
.pic:hover::after {
  height: 100%;
}
.pic:hover::before {
  margin-top: 0;
  opacity: 1;
}
.pic p:first-of-type {
  font-size: 1.1rem;
}
.pic span {
  font-size: 1rem;
}
.pic {
  flex-direction: column;
  align-items: center;
}
.contact {
  width: 100%;
  background: #181d21;
}
.contact-content {
  width: 100%;
  color: white;
  font-family: 'Poppins', cursive;
}
.contact-title {
  text-align: center;
  font-size: 3rem;
}
.contact-subtitle {
  width: 45%;
  font-size: 1rem;
  margin: 1em auto;
  text-align: center;
}
.contact-subtitle span {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-socmed {
  width: 100%;
  margin: 2em auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  line-height: 2em;
}
.contact-socmed i {
  font-size: 3rem;
}
.contact-socmed a {
  color: yellow;
}
.email i {
  color: crimson;
}
.call-me i {
  color: steelblue;
}
.fb i {
  color: white;
  border-radius: 50%;
}
.ig i {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
  width: 30%;
  border-radius: 30%;
}
.github i {
  color: white;
}
@media only screen and (max-width: 600px) {
  .menu {
    inset: 11% 0% 0 30%;
    position: fixed;
    height: 60vh;
    backdrop-filter: blur(0.3rem);
    left: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
    gap: 3rem;
  }
  .menu li a {
    color: yellow;
  }
  .menu span {
    color: white;
  }
  .checkbtn {
    display: block;
    padding: 0.1em 0.3em;
    z-index: 9999;
  }
  #check:checked ~ .menu {
    left: 0%;
  }
  .logo {
    margin: 0 1em;
    font-size: 2rem;
  }
  .navbar .menu li a::after {
    background: white;
  }
  .aboutme-columns {
    flex-direction: column;
    align-items: center;
  }
  .col1 {
    width: 90%;
  }
  .col2 {
    width: 90%;
    border-radius: 50%;
  }
  .col3 {
    width: 90%;
  }
  .info {
    line-height: 3rem;
  }
  .wrap-circles {
    margin: 1em auto;
    gap: 1em;
    justify-content: baseline;
    width: 100%;
  }
  .circle {
    width: 130px;
    height: 130px;
  }
  .pic::before {
    font-size: 1rem;
  }
  .pic img {
    width: 100%;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-subtitle {
    width: 100%;
  }
  .contact-socmed {
    flex-direction: column;
    gap: 2em;
    line-height: 1.2em;
  }
  .ig i {
    width: 10%;
  }
}
